@{
	Layout = "~/Areas/Admin/Views/Shared/_LayoutFoodTime.cshtml";
}

<div class="page-content bg-white">
	<section class="content-inner-1 overflow-hidden">
		<div class="container">
			<div class="row product-detail">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Ресторант</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Добави ресторант</a>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Продукт</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Добави продукт</a>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Статия</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Добави статия</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

@section foodtime_style
{
		<!-- Stylesheet -->
		<link href="~/foodtime/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet">
		<link href="~/foodtime/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
		<link href="~/foodtime/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
}

@section foodtime_script
{
		<!-- JAVASCRIPT FILES ========================================= -->
		<script src="~/foodtime/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
		<script src="~/foodtime/js/favorite.js"></script>
		<script src="~/foodtime/vendor/bootstrap/js/bootstrap.bundle.min.js"></script><!-- BOOTSTRAP.MIN JS -->
		<script src="~/foodtime/vendor/bootstrap-select/js/bootstrap-select.min.js"></script><!-- BOOTSTRAP SELEECT -->
		<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- BOOTSTRAP TOUCHSPIN -->
		<script src="~/foodtime/vendor/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
		<script src="~/foodtime/vendor/counter/waypoints-min.js"></script><!-- WAYPOINTS JS -->
		<script src="~/foodtime/vendor/wow/wow.js"></script><!-- WOW JS -->
		<script src="~/foodtime/vendor/bootstrap-touchspin/bootstrap-touchspin.js"></script><!-- TOUCHSPIN -->
		<script src="~/foodtime/vendor/counter/counterup.min.js"></script><!-- COUNTERUP JS -->
		<script src="~/foodtime/vendor/swiper/swiper-bundle.min.js"></script><!-- OWL-CAROUSEL -->
		<script src="~/foodtime/js/dz.carousel.min.js"></script><!-- OWL-CAROUSEL -->
		<script src="~/foodtime/vendor/particles/particles.js"></script>
		<script src="~/foodtime/vendor/particles/particles-app.js"></script>
		<script src="~/foodtime/js/dz.ajax.js"></script><!-- AJAX -->
		<script src="~/foodtime/js/custom.min.js"></script><!-- CUSTOM JS -->
		<script src="~/foodtime/js/jquery.star-rating-svg.js"></script><!-- Star Rating JS -->

		<script src="~/foodtime/vendor/rangeslider/rangeslider.js"></script><!-- CUSTOM JS -->
}
